body {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

#navigator {
    background: #3F92D2;
    padding-right: 5em;
    color: white;
}

.tabs a {
    color: white;
}

#blanketPanel td {
    width: 250px;
}

